{{ define "pagination" }}
<div class="pagination">
    <ul>
    <li>
    {{ if (gt .pagination.CurrentPage 1) }}
        <a href="{{ .pagination.BaseURL}}/page/{{ .pagination.PreviousPage }}">
        Previous
        </a>
        {{ else }}
        <span>
        Previous
        </span>
        {{ end }}
    </li>
    {{ if (gt .pagination.CurrentPage 3) }}
    <li>
        <a href="{{ .pagination.BaseURL}}/page/1">
            1
        </a>
    </li>
    {{ end }}
        {{ if (gt .pagination.CurrentPage 4) }}
    <li>
        <span>...</span>
    </li>
    {{ end }}
    {{ if (gt .pagination.CurrentPage 2) }}
    <li>
        <a href="{{ .pagination.BaseURL}}/page/{{ .pagination.TwoBelow }}">
            {{ .pagination.TwoBelow }}
        </a>
    </li>
    {{ end }}
    {{ if (gt .pagination.CurrentPage 1) }}
    <li>
        <a href="{{ .pagination.BaseURL}}/page/{{ .pagination.PreviousPage }}">
            {{ .pagination.PreviousPage }}
        </a>
    </li>
    {{ end }}
    <li>
        <span>
            {{ .pagination.CurrentPage }}
        </span>
    </li>
    {{ if (lt .pagination.CurrentPage .pagination.TotalPages) }}
    <li>
        <a href="{{ .pagination.BaseURL}}/page/{{ .pagination.NextPage }}">
            {{ .pagination.NextPage }}           
        </a>
    </li>
    {{ end }}
    {{ if (lt .pagination.TwoAfter .pagination.TotalPages) }}
    <li>
        <a href="{{ .pagination.BaseURL}}/page/{{ .pagination.TwoAfter }}">
            {{ .pagination.TwoAfter }}           
        </a>
    </li>
    {{ end }}
    {{ if (lt .pagination.ThreeAfter .pagination.TotalPages) }}
    <li>
        <span>...</span>
    </li>
    {{ end }}
    {{ if (lt .pagination.TwoAfter .pagination.TotalPages) }}
    <li>
        <a href="{{ .pagination.BaseURL}}/page/{{ .pagination.TotalPages }}">
            {{ .pagination.TotalPages }}
        </a>
    </li>
    {{ end }}
    

        <li>
        {{ if (lt .pagination.CurrentPage .pagination.TotalPages) }}
        <a href="{{ .pagination.BaseURL}}/page/{{ .pagination.NextPage }}">
        Next
        </a>
        {{ else }}
        <span>
        Next
        </span>
        {{ end }}
    </li>
    </ul>
</div>
{{ end }}